<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:text="#{signUpPage.title}">Sign Up</title>
</head>
<body>
<main layout:fragment="content">
    <h1 class="uk-text-center uk-margin-top" th:text="#{signUpPage.title}">Sign up</h1>

    <form
            method="post"
            class="uk-form-stacked uk-flex uk-flex-column uk-flex-middle"
            th:action="@{/auth/signup}"
            th:object="${user}"
    >
        <div class="uk-margin">
            <label
                    class="uk-form-label"
                    th:for="firstName"
                    th:text="#{user.firstName}"
            >First name</label>
            <div class="uk-form-controls">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: user"></span>
                    <input
                            class="uk-input uk-width-large@s"
                            type="text"
                            th:placeholder="#{signUpPage.placeholders.firstName}"
                            th:field="*{firstName}"
                            th:errorclass="uk-form-danger"
                            required
                    >
                </div>
                <div class="uk-text-small uk-text-danger" th:errors="*{firstName}">Invalid input</div>
            </div>
        </div>

        <div class="uk-margin">
            <label
                    class="uk-form-label"
                    th:for="lastName"
                    th:text="#{user.lastName}"
            >Last name</label>
            <div class="uk-form-controls">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: user"></span>
                    <input
                            class="uk-input uk-width-large@s"
                            type="text"
                            th:placeholder="#{signUpPage.placeholders.lastName}"
                            th:field="*{lastName}"
                            th:errorclass="uk-form-danger"
                            required
                    >
                </div>
                <div class="uk-text-small uk-text-danger" th:errors="*{lastName}">Invalid input</div>
            </div>
        </div>

        <div class="uk-margin">
            <label
                    class="uk-form-label"
                    th:for="username"
                    th:text="#{user.username}"
            >Username</label>
            <div class="uk-form-controls">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: hashtag"></span>
                    <input
                            class="uk-input uk-width-large@s"
                            type="text"
                            th:placeholder="#{signUpPage.placeholders.username}"
                            th:field="*{username}"
                            th:errorclass="uk-form-danger"
                            required
                    >
                </div>
                <div class="uk-text-small uk-text-danger" th:errors="*{username}">Invalid input</div>
            </div>
        </div>

        <div class="uk-margin">
            <label
                    class="uk-form-label"
                    th:for="password"
                    th:text="#{user.password}"
            >Password</label>
            <div class="uk-form-controls">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: lock"></span>
                    <input
                            class="uk-input uk-width-large@s"
                            type="password"
                            th:placeholder="#{signUpPage.placeholders.password}"
                            th:field="*{password}"
                            th:errorclass="uk-form-danger"
                            required
                    >
                </div>
                <div class="uk-text-small uk-text-danger" th:errors="*{password}">Invalid input</div>
            </div>
        </div>

        <div class="uk-margin">
            <label
                    class="uk-form-label"
                    th:for="passwordConfirmation"
                    th:text="#{user.passwordConfirmation}"
            >Password confirmation</label>
            <div class="uk-form-controls">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: lock"></span>
                    <input
                            class="uk-input uk-width-large@s"
                            type="password"
                            th:placeholder="#{signUpPage.placeholders.passwordConfirmation}"
                            th:field="*{passwordConfirmation}"
                            th:errorclass="uk-form-danger"
                            required
                    >
                </div>
                <div class="uk-text-small uk-text-danger" th:errors="*{passwordConfirmation}">Invalid input</div>
            </div>
        </div>

        <div class="uk-margin">
            <button
                    type="submit"
                    class="uk-button uk-button-primary"
                    th:text="#{signUpPage.submit}"
            >Sign up</button>
        </div>
    </form>
</main>
</body>
</html>