<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:text="#{signInPage.title}">Sign In</title>
</head>
<body>
    <main layout:fragment="content">
        <div uk-alert class="uk-alert-danger uk-margin-top" th:if="${param.error}">
            <a class="uk-alert-close" uk-close></a>
            <p th:text="#{errors.invalidCredentials}">Error! Invalid username or password</p>
        </div>

        <div uk-alert class="uk-alert-primary uk-margin-top" th:if="${param.logout}">
            <a class="uk-alert-close" uk-close></a>
            <p th:text="#{alerts.signOut}">You have been logged out</p>
        </div>

        <h1 class="uk-text-center uk-margin-top" th:text="#{signInPage.title}">Sign in</h1>

        <form
                method="post"
                class="uk-form-stacked uk-flex uk-flex-column uk-flex-middle"
                th:action="@{/auth/signin}"
        >
            <div class="uk-margin">
                <label
                        class="uk-form-label"
                        for="username"
                        th:text="#{user.username}"
                >Username</label>
                <div class="uk-form-controls">
                    <div class="uk-inline">
                        <span class="uk-form-icon" uk-icon="icon: hashtag"></span>
                        <input
                                class="uk-input uk-width-large@s"
                                type="text"
                                name="username"
                                id="username"
                                th:placeholder="#{signUpPage.placeholders.username}"
                                required
                        >
                    </div>
                </div>
            </div>

            <div class="uk-margin">
                <label
                        class="uk-form-label"
                        for="password"
                        th:text="#{user.password}"
                >Password</label>
                <div class="uk-form-controls">
                    <div class="uk-inline">
                        <span class="uk-form-icon" uk-icon="icon: lock"></span>
                        <input
                                class="uk-input uk-width-large@s"
                                type="password"
                                name="password"
                                id="password"
                                th:placeholder="#{signUpPage.placeholders.password}"
                                required
                        >
                    </div>
                </div>
            </div>

            <div class="uk-margin">
                <button
                        type="submit"
                        class="uk-button uk-button-primary"
                        th:text="#{signInPage.submit}"
                >Sign in</button>
            </div>
        </form>
    </main>
</body>
</html>