<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:text="#{editTestPage.title(${test.name})}">Edit test</title>
</head>
<body>
    <main layout:fragment="content">
        <ul class="uk-breadcrumb uk-margin-top">
            <li><a th:href="@{/admin/tests}" th:text="#{testsPage.title}">Tests</a></li>
            <li><span th:text="${test.name}">Test</span></li>
        </ul>

        <h1 class="uk-text-center uk-margin-top" th:text="#{editTestPage.title(${test.name})}">Add test</h1>

        <form
                method="post"
                class="uk-form-stacked uk-flex uk-flex-column uk-flex-middle"
                th:action="@{/admin/tests/{id}(id=${test.id})}"
                th:object="${test}"
        >
            <div class="uk-margin">
                <label
                        class="uk-form-label"
                        th:for="name"
                        th:text="#{test.name}"
                >Name</label>
                <div class="uk-form-controls">
                    <div class="uk-inline">
                        <span class="uk-form-icon" uk-icon="icon: tag"></span>
                        <input
                                class="uk-input uk-width-large@s"
                                type="text"
                                th:placeholder="#{addTestPage.placeholders.name}"
                                th:field="*{name}"
                                th:errorclass="uk-form-danger"
                                required
                        >
                    </div>
                    <div class="uk-text-small uk-text-danger" th:errors="*{name}">Invalid input</div>
                </div>
            </div>

            <div class="uk-margin">
                <label
                        class="uk-form-label"
                        th:for="description"
                        th:text="#{test.description}"
                >Description</label>
                <div class="uk-form-controls">
                    <textarea
                            class="uk-textarea uk-width-large@s"
                            th:placeholder="#{addTestPage.placeholders.description}"
                            th:field="*{description}"
                            th:errorclass="uk-form-danger"
                            required
                    ></textarea>
                    <div class="uk-text-small uk-text-danger" th:errors="*{description}">Invalid input</div>
                </div>
            </div>

            <div class="uk-margin">
                <button
                        type="submit"
                        class="uk-button uk-button-primary"
                        th:text="#{actions.save}"
                >Save</button>
            </div>
        </form>
    </main>
</body>
</html>