<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:text="#{testsPage.title}">Tests</title>
</head>
<body>
    <main layout:fragment="content">
        <h1 class="uk-text-center uk-margin-top" th:text="#{testsPage.title}">Tests</h1>

        <div class="uk-text-center uk-padding" th:if="${#lists.isEmpty(tests)}">
            <p class="uk-text-lead" th:text="#{testsPage.emptyText}">There are no tests yet</p>
            <a
                    class="uk-button uk-button-primary"
                    th:href="@{/admin/tests/new}"
                    th:text="#{testsPage.actions.create}"
            >Create a new test</a>
        </div>

        <div class="uk-text-center" th:unless="${#lists.isEmpty(tests)}">
            <a
                    class="uk-button uk-button-primary"
                    th:href="@{/admin/tests/new}"
                    th:text="#{testsPage.actions.create}"
            >Create a new test</a>
        </div>

        <table class="uk-table uk-table-responsive uk-table-divider" th:unless="${#lists.isEmpty(tests)}">
            <thead>
            <tr>
                <th th:text="#{test.id}">ID</th>
                <th th:text="#{test.name}">Name</th>
                <th th:text="#{test.questions}">Questions</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="test: ${tests}">
                    <td>
                        <a
                                class="uk-link-text"
                                th:href="@{/admin/tests/{id}(id=${test.id})}"
                                th:text="${#strings.abbreviate(test.id.toString(), 10)}"
                        >ID</a>
                    </td>
                    <td th:text="${test.name}">Name</td>
                    <td th:text="${test.questionsCount}">0</td>
                    <td>
                        <a href="#" class="uk-icon-link" uk-icon="more-vertical"></a>
                        <div uk-dropdown="mode: click">
                            <ul class="uk-nav uk-dropdown-nav">
                                <li>
                                    <a th:href="@{/admin/tests/{id}/edit(id=${test.id})}" th:text="#{actions.edit}">Edit</a>
                                </li>
                                <li>
                                    <a
                                            href="#modal-delete"
                                            data-component-type="delete-button"
                                            data-url="/admin/tests"
                                            th:data-entity-id="${test.id}"
                                            th:data-name="${test.name}"
                                            th:text="#{actions.delete}"
                                    >Delete</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div th:replace="fragments/modal :: modal(~{ :: #modal-text})">
            <p id="modal-text">
                <span th:text="#{testsPage.modalDelete.text}">You are going to delete test</span> <strong id="modal-delete-placeholder">{test}</strong>.
                <span th:text="#{modalDelete.text}">This action cannot be undone</span>
            </p>
        </div>
    </main>
</body>
</html>