<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:text="#{testPage.title(${test.name})}">Test page</title>

    <!-- React-->
    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>

    <!-- i18next-->
    <script src="https://unpkg.com/i18next@21.6.14/dist/umd/i18next.js" crossorigin></script>
    <script src="https://unpkg.com/react-i18next@11.16.1/dist/umd/react-i18next.js" crossorigin></script>

    <!-- UUID-->
    <script src="https://unpkg.com/uuid@8.3.2/dist/umd/uuidv4.min.js" crossorigin></script>

    <!-- Babel-->
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

    <script th:src="@{/js/translations.js}" defer></script>
    <script type="text/babel" th:src="@{/js/test-constructor.js}" defer></script>
</head>
<body>
    <main layout:fragment="content">
        <ul class="uk-breadcrumb uk-margin-top">
            <li><a th:href="@{/admin/tests}" th:text="#{testsPage.title}">Tests</a></li>
            <li><span th:text="${test.name}">Test</span></li>
        </ul>

        <h1 class="uk-text-center uk-margin-top" th:text="#{testPage.title(${test.name})}">Test page</h1>

        <div id="test-constructor" th:data-test-id="${test.id}"></div>
    </main>
</body>
</html>