<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:text="#{editProjectPage.title(${project.name})}">Edit project</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
</head>
<body>
    <main layout:fragment="content">
        <ul class="uk-breadcrumb uk-margin-top">
            <li><a th:href="@{/admin/projects}" th:text="#{projectsPage.title}">Projects</a></li>
            <li><span th:text="${project.name}">Project</span></li>
        </ul>

        <h1 class="uk-text-center uk-margin-top" th:text="#{editProjectPage.title(${project.name})}">Add project</h1>

        <form
                method="post"
                class="uk-form-stacked uk-flex uk-flex-column uk-flex-middle"
                th:action="@{/admin/projects/{id}(id=${project.id})}"
                th:object="${project}"
        >
            <div class="uk-margin">
                <label
                        class="uk-form-label"
                        th:for="name"
                        th:text="#{project.name}"
                >Name</label>
                <div class="uk-form-controls">
                    <div class="uk-inline">
                        <span class="uk-form-icon" uk-icon="icon: tag"></span>
                        <input
                                class="uk-input uk-width-large@s"
                                type="text"
                                th:placeholder="#{addProjectPage.placeholders.name}"
                                th:field="*{name}"
                                th:errorclass="uk-form-danger"
                                required
                        >
                    </div>
                    <div class="uk-text-small uk-text-danger" th:errors="*{name}">Invalid input</div>
                </div>
            </div>

            <div class="uk-margin">
                <label
                        class="uk-form-label"
                        th:for="description"
                        th:text="#{project.description}"
                >Description</label>
                <div class="uk-form-controls uk-width-large@s">
                    <textarea
                            class="uk-textarea uk-width-large@s"
                            id="markdown-editor"
                            th:placeholder="#{addProjectPage.placeholders.description}"
                            th:field="*{description}"
                            th:errorclass="uk-form-danger"
                    ></textarea>
                    <div class="uk-text-small uk-text-danger" th:errors="*{description}">Invalid input</div>
                </div>
            </div>

            <div class="uk-margin">
                <button
                        type="submit"
                        class="uk-button uk-button-primary"
                        th:text="#{actions.save}"
                >Save</button>
            </div>
        </form>
    </main>
</body>
</html>