<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:text="#{projectsPage.title}">Projects</title>
</head>
<body>
    <main layout:fragment="content">
        <h1 class="uk-text-center uk-margin-top" th:text="#{projectsPage.title}">Projects</h1>

        <div class="uk-text-center uk-padding" th:if="${#lists.isEmpty(projects)}">
            <p class="uk-text-lead" th:text="#{projectsPage.emptyText}">There are no projects yet</p>
            <a
                    class="uk-button uk-button-primary"
                    th:href="@{/admin/projects/new}"
                    th:text="#{projectsPage.actions.create}"
            >Create a new project</a>
        </div>

        <div class="uk-text-center" th:unless="${#lists.isEmpty(projects)}">
            <a
                    class="uk-button uk-button-primary"
                    th:href="@{/admin/projects/new}"
                    th:text="#{projectsPage.actions.create}"
            >Create a new project</a>
        </div>

        <table class="uk-table uk-table-responsive uk-table-divider" th:unless="${#lists.isEmpty(projects)}">
            <thead>
                <tr>
                    <th th:text="#{project.id}">ID</th>
                    <th th:text="#{project.name}">Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="project: ${projects}">
                    <td>
                        <a
                                class="uk-link-text"
                                th:href="@{/admin/projects/{id}(id=${project.id})}"
                                th:text="${#strings.abbreviate(project.id.toString(), 10)}"
                        >ID</a>
                    </td>
                    <td th:text="${project.name}">Name</td>
                    <td>
                        <a href="#" class="uk-icon-link" uk-icon="more-vertical"></a>
                        <div uk-dropdown="mode: click">
                            <ul class="uk-nav uk-dropdown-nav">
                                <li>
                                    <a th:href="@{/admin/projects/{id}/edit(id=${project.id})}" th:text="#{actions.edit}">Edit</a>
                                </li>
                                <li>
                                    <a
                                            href="#modal-delete"
                                            data-component-type="delete-button"
                                            data-url="/admin/projects"
                                            th:data-entity-id="${project.id}"
                                            th:data-name="${project.name}"
                                            th:text="#{actions.delete}"
                                    >Delete</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div th:replace="fragments/modal :: modal(~{ :: #modal-text})">
            <p id="modal-text">
                <span th:text="#{projectsPage.modalDelete.text}">You are going to delete project</span> <strong id="modal-delete-placeholder">{project}</strong>.
                <span th:text="#{modalDelete.text}">This action cannot be undone</span>
            </p>
        </div>
    </main>
</body>
</html>