<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:text="#{projectPage.title(${project.name})}">Project</title>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

    <!-- React-->
    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>

    <!-- i18next-->
    <script src="https://unpkg.com/i18next@21.6.14/dist/umd/i18next.js" crossorigin></script>
    <script src="https://unpkg.com/react-i18next@11.16.1/dist/umd/react-i18next.js" crossorigin></script>

    <!-- Babel-->
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

    <script th:src="@{/js/translations.js}" defer></script>
    <script type="text/babel" th:src="@{/js/react-common.js}" defer></script>
    <script type="text/babel" th:src="@{/js/tests-selector.js}" defer></script>
    <script type="text/babel" th:src="@{/js/users-selector.js}" defer></script>
</head>
<body>
    <main layout:fragment="content">
        <ul class="uk-breadcrumb uk-margin-top">
            <li><a th:href="@{/admin/projects}" th:text="#{projectsPage.title}">Projects</a></li>
            <li><span th:text="${project.name}">Project</span></li>
        </ul>

        <h1 class="uk-text-center uk-margin-top" th:text="#{projectPage.title(${project.name})}">Project</h1>

        <div id="markdown-content" th:data-markdown="${project.description}"></div>

        <div class="uk-margin">
            <h3 th:text="#{projectPage.tests}">Tests</h3>

            <div th:unless="${#lists.isEmpty(tests)}">
                <ul>
                    <li th:each="test: ${tests}" th:text="${test.name}">Test name</li>
                </ul>
            </div>

            <div th:if="${#lists.isEmpty(tests)}">
                <p th:text="#{projectPage.emptyTests}">There are no tests assigned</p>
            </div>

            <a
                    href="#modal-general"
                    data-component-type="modal-button-open"
                    th:data-title="#{projectPage.testsModal.title}"
                    th:data-app="testsSelector"
                    th:text="#{actions.edit}"
            >Edit</a>
        </div>

        <div class="uk-margin">
            <h3 th:text="#{projectPage.users}">Users</h3>

            <div th:unless="${#lists.isEmpty(users)}">
                <ul>
                    <li th:each="user: ${users}" th:text="${user.fullName}">User name</li>
                </ul>
            </div>

            <div th:if="${#lists.isEmpty(users)}">
                <p th:text="#{projectPage.emptyUsers}">There are no users assigned</p>
            </div>

            <a
                    href="#modal-general"
                    data-component-type="modal-button-open"
                    th:data-title="#{projectPage.usersModal.title}"
                    th:data-app="usersSelector"
                    th:text="#{actions.edit}"
            >Edit</a>
        </div>

        <div th:replace="fragments/modal :: modalGeneral(~{ :: #modal-body})">
            <div id="modal-body" th:data-project-id="${project.id}"></div>
        </div>
    </main>
</body>
</html>