<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:text="#{editUserPage.title}">Edit user</title>
    <script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>
</head>
<body>
<main layout:fragment="content">
    <h1 class="uk-text-center uk-margin-top" th:text="#{editUserPage.title}">Edit user</h1>

    <div class="uk-flex uk-flex-middle uk-flex-column">
        <div class="uk-width-1-3 uk-text-center uk-margin">
            <img th:src="${user.avatarUrl}" alt="Avatar" id="upload_preview">
        </div>
        <button id="upload_widget" class="uk-button" th:text="#{editUserPage.actions.changeAvatar}">Change avatar</button>
    </div>

    <form
            method="post"
            class="uk-form-stacked uk-flex uk-flex-column uk-flex-middle"
            th:action="@{/profile}"
            th:object="${user}"
    >
        <input type="hidden" name="avatarId" id="upload_id">

        <div class="uk-margin">
            <label
                    class="uk-form-label"
                    th:for="firstName"
                    th:text="#{user.firstName}"
            >First name</label>
            <div class="uk-form-controls">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: user"></span>
                    <input
                            class="uk-input uk-width-large@s"
                            type="text"
                            th:placeholder="#{editUserPage.placeholders.firstName}"
                            th:field="*{firstName}"
                            th:errorclass="uk-form-danger"
                            required
                    >
                </div>
                <div class="uk-text-small uk-text-danger" th:errors="*{firstName}">Invalid input</div>
            </div>
        </div>

        <div class="uk-margin">
            <label
                    class="uk-form-label"
                    th:for="lastName"
                    th:text="#{user.lastName}"
            >Last name</label>
            <div class="uk-form-controls">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: user"></span>
                    <input
                            class="uk-input uk-width-large@s"
                            type="text"
                            th:placeholder="#{editUserPage.placeholders.lastName}"
                            th:field="*{lastName}"
                            th:errorclass="uk-form-danger"
                            required
                    >
                </div>
                <div class="uk-text-small uk-text-danger" th:errors="*{lastName}">Invalid input</div>
            </div>
        </div>

        <div class="uk-margin">
            <label
                    class="uk-form-label"
                    th:for="phone"
                    th:text="#{user.phone}"
            >Phone</label>
            <div class="uk-form-controls">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: receiver"></span>
                    <input
                            class="uk-input uk-width-large@s"
                            type="tel"
                            th:placeholder="#{editUserPage.placeholders.phone}"
                            th:field="*{phone}"
                            th:errorclass="uk-form-danger"
                    >
                </div>
                <div class="uk-text-small uk-text-danger" th:errors="*{phone}">Invalid input</div>
            </div>
        </div>

        <div class="uk-margin">
            <label
                    class="uk-form-label"
                    th:for="location"
                    th:text="#{user.location}"
            >Location</label>
            <div class="uk-form-controls">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: location"></span>
                    <input
                            class="uk-input uk-width-large@s"
                            type="text"
                            th:placeholder="#{editUserPage.placeholders.location}"
                            th:field="*{location}"
                            th:errorclass="uk-form-danger"
                    >
                </div>
                <div class="uk-text-small uk-text-danger" th:errors="*{location}">Invalid input</div>
            </div>
        </div>

        <div class="uk-margin">
            <label
                    class="uk-form-label"
                    th:for="address"
                    th:text="#{user.address}"
            >Address</label>
            <div class="uk-form-controls">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: location"></span>
                    <input
                            class="uk-input uk-width-large@s"
                            type="text"
                            th:placeholder="#{editUserPage.placeholders.address}"
                            th:field="*{address}"
                            th:errorclass="uk-form-danger"
                    >
                </div>
                <div class="uk-text-small uk-text-danger" th:errors="*{address}">Invalid input</div>
            </div>
        </div>

        <div class="uk-margin">
            <label
                    class="uk-form-label"
                    th:for="speciality"
                    th:text="#{user.speciality}"
            >Speciality</label>
            <div class="uk-form-controls">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: folder"></span>
                    <input
                            class="uk-input uk-width-large@s"
                            type="text"
                            th:placeholder="#{editUserPage.placeholders.speciality}"
                            th:field="*{speciality}"
                            th:errorclass="uk-form-danger"
                    >
                </div>
                <div class="uk-text-small uk-text-danger" th:errors="*{speciality}">Invalid input</div>
            </div>
        </div>

        <div class="uk-margin">
            <label
                    class="uk-form-label"
                    th:for="username"
                    th:text="#{user.username}"
            >Username</label>
            <div class="uk-form-controls">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: hashtag"></span>
                    <input
                            class="uk-input uk-width-large@s"
                            type="text"
                            th:placeholder="#{editUserPage.placeholders.username}"
                            th:field="*{username}"
                            th:errorclass="uk-form-danger"
                            required
                    >
                </div>
                <div class="uk-text-small uk-text-danger" th:errors="*{username}">Invalid input</div>
            </div>
        </div>

        <div class="uk-margin">
            <label
                    class="uk-form-label"
                    th:for="password"
                    th:text="#{user.password}"
            >Password</label>
            <div class="uk-form-controls">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: lock"></span>
                    <input
                            class="uk-input uk-width-large@s"
                            type="password"
                            th:placeholder="#{editUserPage.placeholders.password}"
                            th:field="*{password}"
                            th:errorclass="uk-form-danger"
                    >
                </div>
                <div class="uk-text-small uk-text-danger" th:errors="*{password}">Invalid input</div>
            </div>
        </div>

        <div class="uk-margin">
            <label
                    class="uk-form-label"
                    th:for="passwordConfirmation"
                    th:text="#{user.passwordConfirmation}"
            >Password confirmation</label>
            <div class="uk-form-controls">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: lock"></span>
                    <input
                            class="uk-input uk-width-large@s"
                            type="password"
                            th:placeholder="#{editUserPage.placeholders.passwordConfirmation}"
                            th:field="*{passwordConfirmation}"
                            th:errorclass="uk-form-danger"
                    >
                </div>
                <div class="uk-text-small uk-text-danger" th:errors="*{passwordConfirmation}">Invalid input</div>
            </div>
        </div>

        <div class="uk-margin">
            <button
                    type="submit"
                    class="uk-button uk-button-primary"
                    th:text="#{actions.save}"
            >Save</button>
        </div>
    </form>
</main>
</body>
</html>
