<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:text="#{userPage.title(${user.fullName})}">User</title>
</head>
<body>
    <main layout:fragment="content">
        <div class="uk-flex uk-flex-column">
            <div uk-grid>
                <div>
                    <img th:src="${user.avatarUrl}" th:alt="${user.fullName}">
                </div>
                <div>
                    <div class="uk-flex uk-flex-middle">
                        <h2 class="uk-margin-remove" th:text="${user.fullName}">User name</h2>
                        <span class="uk-text-muted uk-margin-small-left" uk-icon="icon: location"></span>
                        <p class="uk-text-small uk-text-bold uk-text-muted uk-margin-remove" th:text="${user.location}">Location</p>
                    </div>
                    <p class="uk-text-primary uk-margin-remove" th:text="${user.speciality}">Speciality</p>
                    <a class="uk-button uk-button-primary uk-margin" th:href="@{/profile/edit}" th:text="#{actions.edit}">Edit</a>
                </div>
            </div>
            <div uk-grid>
                <div class="uk-width-1-3">
                    <h3 class="uk-heading-line uk-text-uppercase uk-text-muted uk-text-small">
                        <span th:text="#{profile.work}">Work</span>
                    </h3>
                    <div th:each="project : ${projects}">
                        <h4 th:text="${project.name}">Project</h4>
                        <p class="uk-text-muted uk-text-small" th:text="${#strings.abbreviate(project.description, 100)}">Description</p>
                    </div>
                    <p class="uk-text-muted" th:text="#{profile.noData}" th:if="${#lists.isEmpty(projects)}">No data</p>

                    <h3 class="uk-heading-line uk-text-uppercase uk-text-muted uk-text-small">
                        <span th:text="#{profile.skill}">Skills</span>
                        <h4 th:each="test : ${tests}" th:text="${test.name}">Skill</h4>
                        <p class="uk-text-muted uk-text-small" th:text="#{profile.noData}" th:if="${#lists.isEmpty(tests)}">No data</p>
                    </h3>
                </div>
                <div class="uk-width-2-3">
                    <h3 class="uk-text-uppercase uk-text-muted uk-text-small" th:text="#{profile.contact}">
                        Contact information
                    </h3>
                    <p uk-grid class="uk-width-medium">
                        <strong class="uk-width-1-2" th:text="#{user.phone}">Phone:</strong>
                        <span class="uk-width-1-2" th:text="${user.phone} ?: '-'">phone</span>
                    </p>
                    <p uk-grid class="uk-width-medium">
                        <strong class="uk-width-1-2" th:text="#{user.email}">Email:</strong>
                        <span class="uk-width-1-2" th:text="${user.email ?: '-'}">email</span>
                    </p>
                    <p uk-grid class="uk-width-medium">
                        <strong class="uk-width-1-2" th:text="#{user.address}">Address:</strong>
                        <span class="uk-width-1-2" th:text="${user.address ?: '-'}">address</span>
                    </p>
                </div>
            </div>
        </div>
    </main>
</body>
</html>