<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:text="#{navigation.feedback}">Feedback</title>

    <!-- React-->
    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>

    <!-- i18next-->
    <script src="https://unpkg.com/i18next@21.6.14/dist/umd/i18next.js" crossorigin></script>
    <script src="https://unpkg.com/react-i18next@11.16.1/dist/umd/react-i18next.js" crossorigin></script>

    <!-- Babel-->
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

    <!-- Moment.js-->
    <script th:src="@{/js/moment-with-locales.js}"></script>

    <script type="text/babel" th:src="@{/js/feedback-form.js}" defer></script>
</head>
<body>
    <main layout:fragment="content">
        <h1 class="uk-text-center uk-margin-top" th:text="#{navigation.feedback}">Feedback</h1>

        <div
                id="feedback-form"
                th:data-user-id="${#authentication.principal.id}"
                th:data-current-user-name="${#authentication.principal.fullName}"
                th:data-current-user-avatar="${#authentication.principal.avatarUrl}"
        ></div>
    </main>
</body>
</html>