<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:text="#{testPage.title(${test.name})}">Test page</title>
</head>
<body>
    <main layout:fragment="content">
<!--        <ul class="uk-breadcrumb uk-margin-top">-->
<!--            <li><a th:href="@{/projects}" th:text="#{projectPage.title}">Projects</a></li>-->
<!--            <li><a th:href="@{/projects/{id}(id=${project.id})}" th:text="${project.name}">Project</a></li>-->
<!--            <li><span th:text="${test.name}">Test</span></li>-->
<!--        </ul>-->

        <h1 class="uk-text-center uk-margin-top" th:text="#{testPage.title(${test.name})}">Test page</h1>

        <p th:text="${test.description}">Test description</p>

        <div class="uk-text-center">
            <a th:href="@{/tests/{id}/solve(id=${test.id})}" class="uk-button uk-button-primary" th:text="#{actions.start}">Start</a>
        </div>
    </main>
</body>
</html>