<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:text="#{testPage.title(${test.name})}">Test page</title>

    <!-- React-->
    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>

    <!-- i18next-->
    <script src="https://unpkg.com/i18next@21.6.14/dist/umd/i18next.js" crossorigin></script>
    <script src="https://unpkg.com/react-i18next@11.16.1/dist/umd/react-i18next.js" crossorigin></script>

    <!-- Babel-->
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

    <!-- Moment.js-->
    <script th:src="@{/js/moment-with-locales.js}"></script>

    <!-- UUID-->
    <script src="https://unpkg.com/uuid@8.3.2/dist/umd/uuidv4.min.js" crossorigin></script>

    <script th:src="@{/js/translations.js}" defer></script>
    <script type="text/babel" th:src="@{/js/feedback-form.js}" defer></script>
</head>
<body>
    <main layout:fragment="content">
        <ul class="uk-breadcrumb uk-margin-top" th:if="${isAdmin}">
            <li><a th:href="@{/admin/results}" th:text="#{navigation.results}">Results</a></li>
            <li><span th:text="${test.name}">Test</span></li>
        </ul>

        <h1 class="uk-text-center uk-margin-top" th:text="#{testPage.title(${test.name})}">Test page</h1>

        <p th:text="${test.description}">Test description</p>

        <form method="post" th:action="@{/tests/{id}/solve(id=${test.id})}" class="uk-form-stacked uk-flex uk-flex-column uk-flex-middle">
            <div class="uk-margin" th:each="question, iter : ${questions}">
                <label th:for="${question.id}" th:text="${iter.index + 1} + '. ' + ${question.text}">Question text</label>
                <div class="uk-form-controls">
                    <input
                            th:if="${question.precise}"
                            class="uk-input uk-width-large@s"
                            type="text"
                            th:name="|answers['${question.id}']|"
                            th:id="${question.id}"
                            th:disabled="${results}"
                            th:value="${results?.get(question.id)?.answer}"
                            required
                    >
                    <div class="uk-flex uk-flex-column uk-width-large@s" th:unless="${question.precise}">
                        <label th:each="answer : ${question.answers}">
                            <input
                                    class="uk-radio uk-margin-small-right"
                                    type="radio"
                                    th:name="|answers['${question.id}']|"
                                    th:value="${answer.id}"
                                    th:text="${answer.text}"
                                    th:disabled="${results}"
                                    th:checked="${results?.get(question.id)?.answer?.equals(answer.id.toString())}"
                                    required
                            >
                        </label>
                    </div>
                </div>

                <div class="uk-margin-small-top" th:if="${results}">
                    <div
                        class="uk-padding-small uk-label-success"
                        th:text="#{result.correct}"
                        th:if="${results?.get(question.id)?.correct}"
                    >Correct</div>
                    <div
                        class="uk-padding-small uk-label-danger"
                        th:text="#{result.wrong}"
                        th:unless="${results?.get(question.id)?.correct}"
                    >Wrong</div>
                </div>
            </div>

            <div class="uk-margin" th:unless="${results}">
                <button
                        type="submit"
                        class="uk-button uk-button-primary"
                        th:text="#{actions.submit}"
                >Submit</button>
            </div>
        </form>

        <div
                id="feedback-form"
                th:data-test-id="${id}"
                th:data-user-id="${userId}"
                th:data-current-user-name="${#authentication.principal.fullName}"
                th:data-current-user-avatar="${#authentication.principal.avatarUrl}"
                th:if="${isAdmin}"
        ></div>
    </main>
</body>
</html>