<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:text="#{usersPage.title}">Users</title>
</head>
<body>
    <main layout:fragment="content">
        <h1 class="uk-text-center uk-margin-top" th:text="#{usersPage.title}">Users</h1>

        <table class="uk-table uk-table-responsive uk-table-divider">
            <thead>
                <tr>
                    <th th:text="#{user.id}">ID</th>
                    <th th:text="#{user.username}">Username</th>
                    <th th:text="#{user.lastName}">Last name</th>
                    <th th:text="#{user.firstName}">First name</th>
                    <th th:text="#{user.role}">Role</th>
                    <th th:text="#{user.registrationDate}">Registration date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user: ${users}">
                    <td>
                        <a
                                class="uk-link-text"
                                th:href="@{/admin/users/{id}(id=${user.id})}"
                                th:text="${#strings.abbreviate(user.id.toString(), 10)}"
                        >ID</a>
                    </td>
                    <td th:text="${user.username}">Username</td>
                    <td th:text="${user.lastName}">Last name</td>
                    <td th:text="${user.firstName}">First name</td>
                    <td th:text="#{user.roles.__${user.role.toString().toLowerCase()}__}">Role</td>
                    <td th:text="${#dates.format(user.createdAt, 'dd.MM.yyyy, HH:mm')}">Registration date</td>
                    <td>
                        <a href="#" class="uk-icon-link" uk-icon="more-vertical"></a>
                        <div uk-dropdown="mode: click">
                            <ul class="uk-nav uk-dropdown-nav">
                                <li>
                                    <a th:href="@{/admin/users/{id}/edit(id=${user.id})}" th:text="#{actions.edit}">Edit</a>
                                </li>
                                <li th:unless="${user.username == #authentication.getName()}">
                                    <a
                                            href="#modal-delete"
                                            data-component-type="delete-button"
                                            data-url="/admin/users"
                                            th:data-entity-id="${user.id}"
                                            th:data-name="${user.username}"
                                            th:text="#{actions.delete}"
                                    >Delete</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div th:replace="fragments/modal :: modal(~{ :: #modal-text})">
            <p id="modal-text">
                <span th:text="#{usersPage.modalDelete.text}">You are going to delete user</span> <strong id="modal-delete-placeholder">{user}</strong>.
                <span th:text="#{modalDelete.text}">This action cannot be undone</span>
            </p>
        </div>
    </main>
</body>
</html>