<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <div class="uk-container" th:fragment="flash">
        <div class="uk-alert-primary uk-margin-top" uk-alert th:if="${flashNotice}">
            <a class="uk-alert-close" uk-close></a>
            <p th:text="#{__${flashNotice}__}">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
        </div>

        <div class="uk-alert-success uk-margin-top" uk-alert th:if="${flashSuccess}">
            <a class="uk-alert-close" uk-close></a>
            <p th:text="#{__${flashSuccess}__}">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
        </div>

        <div class="uk-alert-warning uk-margin-top" uk-alert th:if="${flashWarning}">
            <a class="uk-alert-close" uk-close></a>
            <p th:text="#{__${flashWarning}__}">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
        </div>

        <div class="uk-alert-danger uk-margin-top" uk-alert th:if="${flashError}">
            <a class="uk-alert-close" uk-close></a>
            <p th:text="#{__${flashError}__}">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
        </div>
    </div>
</body>
</html>