<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

</head>
<body>
    <nav class="uk-navbar-container" uk-navbar th:fragment="header">
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li class="uk-active"><a th:href="@{/}" th:text="#{navigation.home}">Home</a></li>
                <!--                <li>-->
                <!--                    <a href="#">Parent</a>-->
                <!--                    <div class="uk-navbar-dropdown">-->
                <!--                        <ul class="uk-nav uk-navbar-dropdown-nav">-->
                <!--                            <li class="uk-active"><a href="#">Active</a></li>-->
                <!--                            <li><a href="#">Item</a></li>-->
                <!--                            <li><a href="#">Item</a></li>-->
                <!--                        </ul>-->
                <!--                    </div>-->
                <!--                </li>-->
                <li><a th:href="@{/admin/users}" th:text="#{navigation.users}" sec:authorize="hasAuthority('ADMIN')">Users</a></li>
                <li><a th:href="@{/admin/projects}" th:text="#{navigation.projects}" sec:authorize="hasAuthority('ADMIN')">Projects</a></li>
                <li><a th:href="@{/admin/tests}" th:text="#{navigation.tests}" sec:authorize="hasAuthority('ADMIN')">Tests</a></li>
                <li><a th:href="@{/admin/results}" th:text="#{navigation.results}" sec:authorize="hasAuthority('ADMIN')">Results</a></li>
                <li><a th:href="@{/projects}" th:text="#{navigation.projects}" sec:authorize="hasAuthority('USER')">Projects</a></li>
                <li><a th:href="@{/profile}" th:text="#{navigation.profile}" sec:authorize="hasAuthority('USER')">Profile</a></li>
                <li><a th:href="@{/feedback}" th:text="#{navigation.feedback}" sec:authorize="hasAuthority('USER')">Feedback</a></li>
            </ul>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li><a th:href="@{/auth/signup}" th:text="#{navigation.signUp}" sec:authorize="isAnonymous()">Sign up</a></li>
                <li><a th:href="@{/auth/signin}" th:text="#{navigation.signIn}" sec:authorize="isAnonymous()">Sign in</a></li>
                <li><a href="#" onclick="handleSignOut()" th:text="#{navigation.signOut}" sec:authorize="isAuthenticated()">Sign out</a></li>
            </ul>
        </div>
        <form method="post" id="signOutForm" th:action="@{/auth/signout}"></form>
    </nav>
</body>
</html>