<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <div id="modal-delete" uk-modal="bg-close: false" th:fragment="modal(text)">
        <div class="uk-modal-dialog uk-modal-body">
            <h2 class="uk-modal-title" th:text="#{modalDelete.title}">Are you sure?</h2>
            <p th:replace="${text}"></p>
            <p class="uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button" th:text="#{actions.cancel}">Cancel</button>
                <button
                        class="uk-button uk-button-danger"
                        type="button"
                        id="modal-delete-confirm"
                        data-entity-id=""
                        th:text="#{actions.delete}"
                >Delete</button>
            </p>
        </div>
    </div>

    <div id="modal-general" uk-modal="bg-close: false" th:fragment="modalGeneral(body)">
        <div class="uk-modal-dialog uk-modal-body">
            <h2 class="uk-modal-title">Title</h2>
            <p th:replace="${body}"></p>
            <p class="uk-text-right">
                <button
                        class="uk-button uk-button-default uk-modal-close"
                        type="button"
                        th:text="#{actions.close}"
                >Close</button>
            </p>
        </div>
    </div>
</body>
</html>