<!doctype html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE">Project test</title>

    <!-- UIkit CSS -->
    <link rel="stylesheet" th:href="@{/css/uikit.min.css}" />

    <!-- UIkit JS -->
    <script th:src="@{/js/uikit.min.js}"></script>
    <script th:src="@{/js/uikit-icons.min.js}"></script>

    <script th:src="@{/js/script.js}" defer></script>

    <style>
        .uk-navbar-container {
            background-color: #d62246 !important;
        }
        .uk-navbar-container ul > li > a {
            color: white !important;
        }
    </style>
</head>
<body>
    <nav th:replace="fragments/header :: header"></nav>

    <div th:replace="fragments/flash :: flash"></div>

    <main class="uk-container" layout:fragment="content"></main>
</body>
</html>