<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:text="#{resultsPage.title}">Results</title>
</head>
<body>
<main layout:fragment="content">
    <h1 class="uk-text-center uk-margin-top" th:text="#{resultsPage.title}">Results</h1>

    <div class="uk-text-center uk-padding" th:if="${#lists.isEmpty(results)}">
        <p class="uk-text-lead" th:text="#{resultsPage.emptyText}">There are no results yet</p>
    </div>

    <table class="uk-table uk-table-responsive uk-table-divider" th:unless="${#lists.isEmpty(results)}">
        <thead>
        <tr>
            <th th:text="#{result.user}">User</th>
            <th th:text="#{result.test}">Test</th>
            <th th:text="#{result.score}">Score</th>
            <th th:text="#{result.date}">Date</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="result: ${results}">
            <td th:text="${result.user.fullName}">User</td>
            <td th:text="${result.test.name}">Test</td>
            <td th:text="${result.score} + '%'">Score</td>
            <td th:text="${#dates.format(result.createdAt, 'dd.MM.yyyy, HH:mm')}">Date</td>
            <td>
                <a th:href="@{/admin/tests/{id}/results/{userId}(id=${result.test.id},userId=${result.user.id})}" th:text="#{actions.show}">Show</a>
            </td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>
