<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:text="#{projectsPage.title}">Projects</title>
</head>
<body>
    <main layout:fragment="content">
        <h1 class="uk-text-center uk-margin-top" th:text="#{projectsPage.title}">Projects</h1>

        <div class="uk-text-center uk-padding" th:if="${#lists.isEmpty(projects)}">
            <p class="uk-text-lead" th:text="#{projectsPage.emptyText}">There are no projects yet</p>
        </div>

        <div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid th:unless="${#lists.isEmpty(projects)}">
            <div th:each="project : ${projects}">
                <div class="uk-card uk-card-default uk-card-body">
                    <h3 class="uk-card-title uk-text-center" th:text="${project.name}">Project</h3>
<!--                    <p>1 / 3 tests completed</p>-->
                    <div class="uk-text-center">
                        <a th:href="@{/projects/{id}(id=${project.id})}" class="uk-button uk-button-primary" th:text="#{actions.show}">Show</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>