<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:text="#{projectPage.title(${project.name})}">Project</title>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>
<body>
    <main layout:fragment="content">
        <ul class="uk-breadcrumb uk-margin-top">
            <li><a th:href="@{/projects}" th:text="#{projectsPage.title}">Projects</a></li>
            <li><span th:text="${project.name}">Project</span></li>
        </ul>

        <h1 class="uk-text-center uk-margin-top" th:text="#{projectPage.title(${project.name})}">Project</h1>

        <div id="markdown-content" th:data-markdown="${project.description}"></div>

        <div class="uk-margin">
            <h3 th:text="#{projectPage.tests}">Tests</h3>

            <div th:unless="${#lists.isEmpty(tests)}">
                <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m uk-margin" th:each="test: ${tests}">
                    <h3 class="uk-card-title" th:text="${test.name}">Test name</h3>
                    <p th:text="${test.description}">Lorem ipsum sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a class="uk-button uk-button-primary" th:href="@{/tests/{id}(id=${test.id})}" th:text="#{actions.pass}" th:unless="${test.attemptId}">Pass</a>
                    <p class="uk-text-bold uk-text-success" th:if="${test.attemptId}" th:text="#{result.title} + ': ' + ${test.result} + '%'">Passed</p>
                </div>
            </div>

            <div th:if="${#lists.isEmpty(tests)}">
                <p th:text="#{projectPage.emptyTests}">There are no tests assigned</p>
            </div>
        </div>
    </main>
</body>
</html>